body {
}
body{
	background-color: white;
}
h1, h2{
	margin-left: 20px;
}
div{
}
img{
	/*float: right;*/
}
img{
	float: right;
    margin-top: 10px;
}
table {
    border: 1 solid red;
}

.left {
    float: left;
}

.menu{
	margin: 0px 50px 0px 50px;
}
.sidebar{
	float: left;
	margin-left: 50px;
	background-color: Green;
	width: 220px;
	height: 700px;
}
.content{
	margin-left: 300px;
	margin-right: 50px;
    background-color: Yellow;
    width: 600px;
    border: solid red;

}